<fa-drawer></fa-drawer>
<div>
    <label>
        <span slot="info">Gasto Manual</span>
    </label>

    <ol>
        <label>
            <span slot="label">Las facturas electrónicas válidas contienen 3 archivos:</span>
            </fa-label>
            <li>PDF represatación gráfica</li>
            <li>Archivo XML Factura Electrónica</li>
            <li>Archivo XML Mensaje Aceptación Hacienda(Acuse de Hacienda)</li>
    </ol>

    <fa-button>
        <span slot="fa-button-text">SUBIR XML FACTURA</span>
    </fa-button>


    <fa-button>
        <span slot="fa-button-text">SUBIR XML MENSAJE HACIENDA</span>
    </fa-button>
    <fa-button>
        <span slot="fa-button-text">Volver</span>
    </fa-button>


</div>