<div class="module">
    
    <fa-textfield for="contacto" text="Nombre del contacto"></fa-textfield>
    <fa-label>
        <span slot="label">Detalle de la factura</span>
    </fa-label>
    <div class="dropdown-lists">
        <fa-dropdown>
            <span slot="title">Moneda</span>
            <option value="Colones">Colones</option>
            <option value="Dolares">Dolares</option>
            <option value="Euros">Euros</option>
        </fa-dropdown>
        <fa-dropdown>
            <span slot="title">Método de pago</span>
            <option value="Efectivo">Efectivo</option>
            <option value="Tarjeta">Tarjeta</option>
        </fa-dropdown>
    </div>
</div>