<fa-drawer></fa-drawer>
<form>
    <fa-textfield for="name" text="Nombre Completo" type="text"></fa-textfield>
    <fa-textfield for="email" text="Correo Electrónico" type="text"></fa-textfield>
    <fa-textfield for="password" text="Clave" type="password"></fa-textfield>
    <fa-textfield for="copassword" text="Confirme la Clave" type="password"></fa-textfield>
    <fa-dropdown>
        <span slot="title">Rol de Usuario</span>
        <option value="Administrador">Administrador</option>
        <option value="Agente de Ventas">Agente de Ventas</option>
    </fa-dropdown>
    <fa-button>
        <span slot="fa-button-text">Agregar Usuario</span>
    </fa-button>
</form>