<fa-drawer></fa-drawer>

<div>
    <label>
        <span slot="label">Información del Cliente:</span>
    </label>
    <fa-dropdown>
        <option value="Personas">Personas</option>
        <option value="Organizacion">Organizacion</option>
        <span slot="Tipo de Cliente">TipoDeCliente</span>
    </fa-dropdown>

    <fa-textfield class="nom">
    </fa-textfield>
    <fa-textfield class="last">
    </fa-textfield>


    <fa-textfield type="text">
    </fa-textfield>

    <fa-textfield type="number">
    </fa-textfield>
    <label>
        <span slot="label">* Esta Información de ciente se guarda en tu lista de Contactos de Google</span>
    </label>

    <fa-button>
        <span slot="fa-button-text"> Crear Contacto</span>
    </fa-button>
</div>