<div class="container">
  <fa-label>
    <span slot="fa-label-text">Nuevos cambios en el Ministerio
      de Hacienda</span>
  </fa-label>
  
  <p>Como parte de los nuevos cambios de Hacienda para el IVA y para Factura Eletronica es
    necesario que actualices la información de contribuyente estableciendo la actividad económica.</p>
  <p>* En caso de tener múltiples actividades económicas se selecciona la actividad
    principal.</p>
  
  
  
  <fa-textfield>
    <span slot="fa-textfield-label">Actividad económica</span>
  </fa-textfield>
  
  <ul  role="listbox">
  </ul>
  
  
  
  <fa-button>
    <span slot="fa-button-text">Agregar como actividad</span> 
  </fa-button>
</div>