<fa-drawer></fa-drawer>
<div class="container">

    <fa-label mode="title">
        <span slot="fa-label-text">Personalización de Comprobantes</span>
    </fa-label>

    <div class="detalle">
        <fa-label>
            <span slot="fa-label-text">Formato de impresión</span>
        </fa-label>
    </div>

    <fa-label>
        <span slot="fa-label-text">Personalizá las representaciones gráficas de tu facturas agregando un logo y texto</span>
    </fa-label>

    <div class="detalle">
        <fa-button>
            <span slot="fa-button-text">Subir Logo</span>
        </fa-button>
        <fa-label>
            <span slot="fa-label-text">*El logo tiene que ser una imagen cuadrada de 120px por 120 px en formato PNG.</span>
        </fa-label>
    </div>

</div>