<fa-drawer></fa-drawer>
<div class="grid">
    <fa-label>
        <span slot="label">Editar Contacto</span>
    </fa-label>

    <fa-label>
        <span slot="label">Información del Receptor de la factura:</span>
    </fa-label>
    <fa-dropdown>
        <span slot="title">Tipo de identificación</span>
        <option value="Persona Física">Persona Física</option>
        <option value="Cédula Jurídica">Cédula Jurídica</option>
    </fa-dropdown>
    <fa-textfield for="identificacion" text="Número de identificación" type="number">
    </fa-textfield>


    <fa-button>
        <span slot="fa-button-text">Cancelar</span>
    </fa-button>
    <fa-button>
        <span slot="fa-button-text">Cargar</span>
    </fa-button>


</div>