
   
    <header class="flex justify-between items-center">
        <a href="#" class="logo">

            
        </a>

        <button type="button" class="btn-menu" id="btnmenu">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
            </svg>
        </button>

        <nav class="menu" id="menu">
            <ul class="flex">
                <li  id="nuevas"><a href="#">Crear Factura</a></li>
                <li id="populares"><a href="#">Reservaciones</a></li>
                <li id="cartelera"><a href="#">Cartelera </a></li>
                <li id="genero"><a href="#">Género </a></li>
                <li><a href="#">Acerca de</a></li>
            </ul>

        </nav>

        <button type="button" class="btn-buscar" id="btnbuscar">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 md:h-36 md:w-36" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
            </svg>
        </button>


        <form class="form" id="form">
            <input type="text" placeholder="Search" id="search" class="search">

        </form>

    </header>

