button{
    position: relative;
    display: inline-block;
    align-self: flex-end;
    background: #5264AE;
    width: 150px;
    height: 50px;
    color: #E1F5FE;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    margin: 1rem;
    border-radius: 6px;
    overflow: hidden;
}
button:active {
    outline: none;
    border: none;
  }
span {
  position: absolute;
  background: #747ea7;
  transform: translate(-50%,-50%);
  pointer-events: none;
  border-radius: 50%;
  animation: animate 1s linear forwards;
  mix-blend-mode: difference;
}
@keyframes animate
{
  0%
  {
    width: 0px;
    height: 0px;
    opacity: 0.5;
  }
  100%
  {
    width: 500px;
    height: 500px;
    opacity: 0;
  }
}