<fa-drawer></fa-drawer>
<div class="container">
    <div class="detalle">
        <fa-label mode="title">
            <span slot="fa-label-text">Anular Factura</span>
          </fa-label>
    </div>
    <div class= "info">

    </div>
    <fa-textfield
    for="cantidad"
    text="Razón para anular factura"
    type="text"
    ></fa-textfield>
    <fa-button>
        <span slot="fa-button-text">Cancelar</span>
    </fa-button>
    <fa-button type="secondaryButton">
        <span slot="fa-button-text">Anular</span>
    </fa-button>

</div>