div{
    
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 100px;



   
}
fa-label{
    text-align: center;
}
button.fa-button{
    height: 40px;
    height: 190px;
}