<div>
    <fa-logo></fa-logo>
    <fa-label>
        <span slot="label">Para empezar, necesitamos que te registres usando:</span>
    </fa-label>
    <fa-button text="CREAR CUENTA NUEVA"></fa-button>
    <fa-button text="ACCEDER CON GOOGLE"></fa-button>
    <fa-button text="ACCEDER CON EMAIL"></fa-button>

    <fa-label>
        <span slot="label">*Tus datos se manejan de una manera privada y responsable. Facturero.App esta fielmente comprometido con la proteccion de sus datos y el uso responsable de su information</span>
    </fa-label>
</div>
