<h6 class="mdc-typography--subtitle1" style="margin:0rem;">Facturas Creadas:</h6>

<div>
    <input type="text" id="field-inicio" class="mdc-text-field__input fromdatedata" readonly>
    <label class="mdc-floating-label" for="field-inicio">Fecha Inicio</label>
    <svg>
        <path class="mdc-notched-outline__path" />
    </svg>
</div>

<div>
    <input type="text" id="field-final" class="mdc-text-field__input todatedata" readonly>
    <label class="mdc-floating-label" for="field-final">Fecha Final</label>
    <svg>
        <path class="mdc-notched-outline__path" />
    </svg>
</div>

<button class="mdc-button mdc-button--unelevated secondary loadcreatedbills">
    Cargar Facturas
</button>



<p class="mdc-typography--body1">No hay facturas en las fechas seleccionadas</p>

<button class="mdc-button primary gohome">Volver</button>
</div>