<div class="top-bar">
  <div class="icon">
    <wc-menu-button id="menuButton"></wc-menu-button>
  </div>

  <div class="logo">
    <fa-logo></fa-logo>
  </div>

</div>



<side-drawer id="drawer">
  <div class="drawer-container">
    <div class="user">

    </div>
    <div class="grid">
      <fa-label>
        <span slot="fa-label-text">Javier Rodriguez</span>
      </fa-label>

      <!--
-->
      <fa-link href="/homeview">
        <span slot="fa-link-label">Home</span>
      </fa-link>
      <fa-link href="/personalinfoview">
        <span slot="fa-link-label">Personal info</span>
      </fa-link>
      <fa-link href="/expenseslistview">
        <span slot="fa-link-label">Expenses list</span>
      </fa-link>
      <fa-link href="/persontaxpayeradd">
        <span slot="fa-link-label">Person taxpayer add</span>
      </fa-link>
      <a href="#">Clientes</a>
      <a href="#">Usuarios</a>
      <a href="#">Reservaciones</a>


      <a href="#">Salir</a>


    </div>
</side-drawer>