<div class="top-bar">
  <div class="icon">
    <wc-menu-button id="menuButton"></wc-menu-button>
  </div>

  <div class="logo">
    <fa-logo></fa-logo>
  </div>

</div>



<side-drawer id="drawer">
  <div class="drawer-container">
    <div class="user">

    </div>
    <div class="grid">
      <fa-label>
        <span slot="fa-label-text">Javier Rodriguez</span>
      </fa-label>
      <a href="/personalinfoview">Personal info</a>
      <a id="pers" href="/expenseslistview">expenses list</a>
      <a href="/persontaxpayeradd">person taxpayer add</a>
      <a href="#">Clientes</a>
      <a href="#">Usuarios</a>
      <a href="#">Reservaciones</a>


      <a href="#">Salir</a>


    </div>
</side-drawer>