  
    <div>
      <section class="hero">
        <h1>side-drawer</h1>
        
        <div class="hero-demo">
          <wc-menu-button id="menuButton"></wc-menu-button>
         
        </div>
      </section>

    </div>

    <side-drawer id="drawer"
      ><div class="drawer-sample-container">
        <div>
          <div>This is the drawer!</div>
          <div style="padding: 21px 0px">
            You can close the drawer with the escape key or by clicking/tapping
            outside the drawer.
          </div>
          <div style="padding: 21px 0px">
            Use your browser dev tools to inspect the CSS and see an example of
            customizing the drawer.
          </div>
          <div style="font-size: 16px; margin-top: 21px">
            The hamburger menu button that's used to open this drawer is the
            <a href="https://github.com/wes566/wc-menu-button" target="_blank"
              >wc-menu-button</a
            >
          </div>
        </div>
        <div style="font-size: 16px">Hello there &#x1F44B;</div>
      </div></side-drawer    >
