p{
    margin: 1rem; 
    text-align: center;
    font-size: 24px;
    font-family: 'Titillium Web', sans-serif;
    color: white;
}

paragraph{    
    margin: 1rem; 
    text-align: center;
    font-size: 24px;
    font-family: 'Titillium Web', sans-serif;
    color: white;
}