<<<<<<< HEAD
=======
label{
    margin: 1rem; 
    font-family: 'Titillium Web', sans-serif;
    color: white;
}
>>>>>>> Braulio

.title{
    color: #fff;
    font-size: 25px;
    text-align: center;
}
<<<<<<< HEAD

=======
>>>>>>> Braulio
