<fa-drawer></fa-drawer>
<form>
    <fa-textfield for="name" text="Nombre Completo" type="text"></fa-textfield>
    <fa-textfield for="email" text="Correo Electrónico" type="text"></fa-textfield>
    <fa-textfield for="phoneNumber" text="Número Telefónico" type="number"></fa-textfield>
    <fa-textfield for="ID" text="Número de Cédula" type="number"></fa-textfield>
    <fa-dropdown>
        <span slot="title">Tipo de Cedula</span>
        <option value="Nacional">Nacional</option>
        <option value="DIMEX">DIMEX</option>
    </fa-dropdown>
    <fa-button>
        <span slot="fa-button-text">Agregar Cliente</span>
    </fa-button>
</form>