<fa-drawer></fa-drawer>
<div class="sup">
    <label>
        <span slot="total">$20600</span>
    </label>

    <label>
        <span slot="fecha">08/11/2021 18:28</span>
    </label>
    <label>
        <span slot="conse">Consecutivo:0010010011009809</span>
    </label>
    <label>
        <span slot="aya">AYA</span>
    </label>
</div>
<div>
    <div class="itemlist"></div>
    <label>
        <span slot="detalles">Detalles</span>
    </label>

    <label>
        <span slot="subtotal">Subtotal</span>
    </label>
    <label>
        <span slot="iva">IVA</span>
    </label>
    <label>
        <span slot="total">Total</span>
    </label>
    <div class="divbut">
        <fa-button>
            <span slot="textButton">Anular</span>
          </fa-button>
          <fa-button>
            <span slot="textButton">Reenviar</span>
          </fa-button>
    </div>
        



    <label>
        <span slot="archivos">Archivos del comprobante electrónico</span>
    </label>
    <a href="#">Descargar Archivos Factura Electrónica</a>
    <a href="#">Volver</a>
</div>
</div>