<fa-checkitem for="habitacion#1" name="habitacion" checkState="unchecked">
    <p slot="title">Habitación #1</p>
    <p slot="subtitle">Habitación con buena vista</p>
    <div slot="information">
        <p>Habitación limpia</p>
        <p>Precio: 10000</p>
    </div>
    <p slot="extra-info">
    <p>Mancha en el piso</p>
    </p>
    <p slot="status">Disponible</p>
</fa-checkitem>
<fa-checkitem for="habitacion#2" name="habitacion" checkState="unchecked">
    <p slot="title">Habitación #2</p>
    <p slot="subtitle">Habitación con buena vista</p>
    <div slot="information">
        <p>Habitación sucia</p>
        <p>Precio: 20000</p>
    </div>
    <p slot="extra-info">
    <p>Mancha en el piso</p>
    </p>
    <p slot="status">No disponible</p>
</fa-checkitem>
<fa-checkitem for="habitacion#3" name="habitacion" checkState="unchecked">
    <p slot="title">Habitación #3</p>
    <p slot="subtitle">Habitación con buena vista</p>
    <div slot="information">
        <p>Habitación sucia</p>
        <p>Precio: 30000</p>
    </div>
    <p slot="extra-info">
    <p>Mancha en el baño</p>
    </p>
    <p slot="status">No disponible</p>
</fa-checkitem>
<div class="buttons">
    <fa-button>
        <span slot="fa-button-text">Aceptar</span>
    </fa-button>
    <fa-button>
        <span slot="fa-button-text">Volver</span>
    </fa-button>
</div>