<fa-drawer></fa-drawer>
<form action="" method="">
    <!-- <h5 class="">Para acceder utiliza tu correo y tu clave</h5> -->
    <fa-label mode="title">
        <span slot="label">Para acceder utiliza tu correo y tu clave<span>
    </fa-label>
    <fa-textfield for="email" text="Correo Electrónico" type="email"></fa-textfield>
    <fa-textfield for="password" text="Clave" type="password"></fa-textfield>
    <fa-textfield for="cantidad" text="Cantidad" type="number">
        <span slot="label">Cantidad</span>
    </fa-textfield>
    <fa-button text="Acceder"></fa-button>
    <p class="pieDePagina">*En caso de no saber contraseña enviar un email a javier@facturero.app.</p>
</form>