    <form class="card justify-between items-center">        
            <img class="logo" src="../src/img/logo_192.png" alt="">
            <label >Iniciar sesion</label>
            <input type="text" placeholder="Usuario">
            <input type="password" placeholder="Contraseña">
            <div class="registrarse">
                <a href="">Registrarse</a>
                <button>Acceptar</button>
            </div>  
            <a class="olvido" href="./src/views/registrarse.html">¿Olvido su contraseña o su usuario?<a>
    </div></div>