<div class="container">
  <fa-label mode="title">
    <span slot="label">Agregar reservacion</span>
  </fa-label>
  <div class="detalle">
    <fa-button>
      <span slot="textButton">Agregar Cliente</span>
    </fa-button>
  </div>
  <fa-textfield
    for="cantidad"
    text="Cantidad de personas"
    type="number"
  ></fa-textfield>
  <fa-calendar>
    <span slot="text">Check in</span>
  </fa-calendar>
  <fa-calendar>
    <span slot="text">Check in</span>
  </fa-calendar>
  <div class="detalle">
    <fa-dropdown>
      <option value="#2">#2</option>
      <option value="#6">#6</option>
      <option value="#7">#7</option>
      <span slot="title">Habitaciones</span>
    </fa-dropdown>
    <fa-button>
      <span slot="textButton">Agregar habitacion</span>
    </fa-button>
  </div>
</div>
