.wrap{
    margin: 40px;
    border: 1px solid #fff;
    padding: 10px;
    border-radius: 5px;
}
.component{
    display: flex;
    flex-direction: column;
}

select{
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    color: #fff;
}
label{
    color: #fff;
    padding-bottom: 4px;
}
select::-ms-expand {
    display: none;
  }
  select:hover {
    border-color: #888;
  }
  select:focus {
    border-color: #aaa;
    box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    color: #222; 
    outline: none;
  }
  select option {
    font-weight:normal;
  }