<fa-layout>
  <div slot="content">

    <fa-title class=""">Reportes</fa-title>
    
    <fa-textfield for=" field-inicio-report">
      <span slot="fa-textfield-label">Fecha Inicio</span>
      </fa-textfield>



      <fa-textfield for="field-final-reporting">
        <span slot="fa-textfield-label">Fecha Final</span>
      </fa-textfield>

      <!--<div>
        <input type=" text" id="" class="" readonly />
        <label class="" for="field-inicio-report"></label>
         svg
  </div>
  <div>
    <input type="text" id="" class="" readonly />
    <label class="" for="field-final-reporting">/label>
       svg
  </div>-->
      <div>
        <input class="" type="radio" id="radio-sales" name="reporttyperadio" checked value="1" />

        <label for="radio-ssales">Ventas</label>
      </div>
      <div>
        <input class="" type="radio" id="radio-expense" name="reporttyperadio" value="2" />

        <label for="radio-expense">Gastos</label>
      </div>

      <fa-button class="">
        <span slot="" fa-button-text></span>
      </fa-button>
      <!-- svg-->

      <a href="#" class="">descargar reporte</a>
  </div>
</fa-layout>