<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>    
    <!--<fa-button theme="primary-button">
        <span slot="textButton">Aceptar</span>
    </fa-button>
    <fa-calendar>
        <span slot="text">Check in</span>
    </fa-calendar>-->
    <fa-createreservation></fa-createreservation>
</body>
</html>