<div>
    <div class="profile">
        <p>Este campo es para la informacion de la cuenta que esta logeada</p>
    </div>
    <div class="menu">
        <nav class="lista">
            <ul>
                <li><a href=""> Administrar datos de los clientes</a></li>
                <li><a href=""> Administrar datos de los Usuarios</a></li>
                <li><a href=""> Administrar permisos y accesos</a></li>
                <li><a href=""> Administrar datos del hotel</a></li>
                <li><a href=""> Administrar datos especiales</a></li>
                <li><a href=""> Configuracion</a></li>
                
            </ul>
        </nav>
    </div>
    
</div>