<fa-drawer></fa-drawer>
<div class="container">
    <div class="detalle2">
        <fa-label mode="title">
            <span slot="fa-label-text">Suscripción a Facturero.app</span>
        </fa-label>
    </div>
    <div class="detalle">
        <fa-label>
            <span slot="fa-label-text">Los $10 mensuales que te ayudan a administrar tu carga tributaria.</span>
        </fa-label>
    </div>

    <div class="detalle">
        <fa-button>
            <span slot="fa-button-text">Suscribirme</span>
        </fa-button>
        <fa-button type="secondaryButton">
            <span slot="fa-button-text">Cancelar</span>
        </fa-button>
    </div>

</div>


</div>