<fa-drawer></fa-drawer>
<div class="container">
    <div class="detalle">
        <fa-label>
            <span slot="fa-label-text">En esta sección podés revisar los gastos procesados</span>
          </fa-label>
        <fa-calendar>
            <span slot="fa-calendar-text">Fecha Inicio</span>
          </fa-calendar>
          <fa-calendar>
            <span slot="fa-calendar-text">Fecha final</span>
          </fa-calendar>
          <fa-button>
            <span slot="fa-button-text">Cargar Gastos</span>
          </fa-button>

    </div>
</div>