<div class="container flex-column">
    <fa-label mode="title">
        <span slot="fa-label-text">Información del Receptor de la factura:</span>
    </fa-label>
    
    <!--<select class="mdc-select__native-control idtype">
        <option value="1" selected>Persona Física</option>
        <option value="2">Persona Jurídica</option>
        <option value="3">DIMEX</option>
        <option value="4">NITE</option>
        <option value="5">Extranjero</option>
    </select>
    <fa-label class="mdc-floating-label">
        <span slot="fa-label-text">Tipo de identificación</span>
    </fa-label>-->
    
    
    <fa-dropdown>
        <option value="1" selected>Persona Física</option>
        <option value="2">Persona Jurídica</option>
        <option value="3">DIMEX</option>
        <option value="4">NITE</option>
        <option value="5">Extranjero</option>
        <span slot="fa-dropdown-label">Tipo de identificación</span>
    </fa-dropdown>
    
    <!--<div class="mdc-text-field  mdc-text-field--fullwidth contactid white">
        <input type="text" id="my-text-id-no" class="mdc-text-field__input idnumber ">
        <label class="mdc-floating-label" for="my-text-id-no">Número de identificación</label>
        <div class="mdc-line-ripple"></div>
    </div>
    <p class="mdc-text-field-helper-text idhaciendahelpertext" aria-hidden="true" class="">
        El número de identifiación no es válido.
    </p>-->
    
    <fa-textfield>
        <span slot="fa-textfield-label">Número de identificación</span>
        <span slot="fa-textfield-error">El número de identifiación no es válido.</span>
    </fa-textfield>
    
    <p>El número de identificación se
        encuentra registrado ante Hacienda como <strong><span class="fullnamefound">YummyCooks CR SRL</span>.</strong>
    </p>
    
    
    <!--<div class="mdc-text-field  mdc-text-field--fullwidth contactname white">
        <input type="text" id="my-text-id-no-add" class="mdc-text-field__input  contactnameinput">
        <label class="mdc-floating-label" for="my-text-id-no-add">Nombre del receptor</label>
        <div class="mdc-line-ripple"></div>
    </div>-->
    <fa-textfield>
        <span slot="fa-textfield-label">Nombre del receptor</span>
    </fa-textfield>
    
    <!--<div class="mdc-text-field contactemail mdc-text-field--fullwidth white">
        <input type="email" id="my-text-email-tax" class="mdc-text-field__input email ">
        <label class="mdc-floating-label" for="my-text-email-tax">Correo electrónico</label>
        <div class="mdc-line-ripple"></div>
    </div>-->
    
    <!--<div class="mdc-text-field contactphone mdc-text-field--fullwidth white">
        <input type="number" id="my-text-phone" class="mdc-text-field__input phone inputpaddingsupporttext">
        <span class="pressuporttext" hidden="true">+506</span>
        <label class="mdc-floating-label" for="my-text-phone">Teléfono</label>
        <div class="mdc-line-ripple"></div>
    </div>-->
    <div class="container flex-rows">

        <fa-button>
            <span slot="fa-button-text">Volver</span>
        </fa-button>
        
        
        <fa-button>
            <span slot="fa-button-text">Guardar</span>
        </fa-button>
    </div>
</div>
