<form class ="card">
    <div class="data">       

        <h4>Registrarse</h4>
        <div class="names">
                <input type="text" class="firstname" placeholder="Nombre">
                <input type="text" class="lastname" placeholder="Apellido">
        </div>            
        <input type="text" placeholder="Usuario">
        <input type="password" placeholder="Contraseña">
        <div class="check">
            <input type="checkbox" class="mostrar"> 
            <label>Mostrar contraseña</label>
        </div>
        <div>
                <button>Atras</button>
                <button>Siguiente</button>
        </div>
    </div>
    <div class="logo-info">
        <img src="../src/img/logo_192.png" alt=""> 
        <p>Si necesita ayuda, comuniquese con el gerente</p>
    </div>
            
</div>