header{
    padding:1rem;
    display:flex;
    justify-content: flex-end;
    background-color: var(--secondary-color);
}
.flex{
  display: flex;
  
}

.justify-between{

    justify-content: space-between;
}
.justify-center{

    justify-content: center;
}
.items-center{
    align-items: center;
}
.btn-menu{
    background-color:  #958BB6;
    color: white;
    border: none;
    padding: auto;;
    
}
.btn-buscar svg{
    width: 32px;
    height: 32px;
   
}
.btn-buscar{
    background-color:  #958BB6;
    color: white;
    border: none;
    margin-left: auto;
    display: block;
}