header{
    padding:1rem;
    display:flex;
    justify-content:space-between;
    background-color: var(--secondary-color);
}
.menu{
    position: absolute;
    z-index: 2;
    left: 0;
    
    width: 100%;
    top: 65px; 
}
.menu ul{
    list-style: none;
    display: flex;
    justify-content: center;
}


.menu ul li a{
    padding: .5rem 1rem;
    text-decoration: none;
    font-size: 20px;
}
.menu ul li a:hover{
    text-decoration: underline;
}


.btn-menu{
    background-color:  #958BB6;
    color: white;
    border: none;
    padding: auto;;
    
}
.btn-buscar svg{
    width: 32px;
    height: 32px;
   
}
.btn-buscar{
    background-color:  #958BB6;
    color: white;
    border: none;
    margin-left: auto;
    display: block;
}
img{
    width: 70px;
    height: 70px;
}
a{
    margin-top: auto;
    margin-bottom: auto;
    text-decoration: none;
}