<fa-drawer></fa-drawer>
<div class="container">
    <div class="detalle">
        <fa-label mode="title">
            <span slot="fa-label-text">Menú de Gastos</span>
        </fa-label>
    </div>
    <div class="mensaje">
        <fa-label>
            <span slot="fa-label-text">Los gastos tienen que ser aceptados o rechazados en un plazo de 8 dias</span>
        </fa-label>

    </div>
    <div class="detalle">
        <fa-button>
            <span slot="fa-button-text">Procesar Gastos</span>
        </fa-button>
        <fa-button>
            <span slot="fa-button-text">Historial Gastos</span>
        </fa-button>
        <fa-button>
            <span slot="fa-button-text">Gasto Manual</span>
        </fa-button>
        <fa-button>
            <span slot="fa-button-text">Volver</span>
        </fa-button>
    </div>
</div>