<fa-drawer></fa-drawer>
<form>
    <fa-logo></fa-logo>
    <fa-paragraph>
        <span slot="label">La manera más fácil de cumplir con Factura Electrónica en Costa Rica.</span>
    </fa-paragraph>
    <div class="btns">
        <fa-button id="comenzar" href="/loginview">
            <span slot="fa-button-text">Comenzar</span>
        </fa-button>
        <fa-button id="conocer" href="/homeview">
            <span slot="fa-button-text">Conocer mas</span>
        </fa-button>
    </div>



</form>