<form action="" method="">
    <h5 class="">Para acceder utiliza tu correo y tu clave</h5>
    <fa-textfield for="email" text="Correo Electrónico" type="text">
        <span slot="fa-textfield-label">Correo Electrónico</span>
    </fa-textfield>
    <fa-textfield for="password" text="Clave" type="password">
        <span slot="fa-textfield-label">Contraseña</span>
    </fa-textfield>
    <fa-link type="secondaryButton" href="/homeview">
        <span slot="fa-link-label">Acceder</span>
    </fa-link>

    <label class="pieDePagina">
        <span slot="label">*En caso de no saber contraseña enviar un email a javier@facturero.app.</span>
    </label>

</form>