<form action="" method="">
    <h5 class="">Para acceder utiliza tu correo y tu clave</h5>
    <fa-textfield for="email" text="Correo Electrónico" type="text"></fa-textfield>
    <fa-textfield for="password" text="Clave" type="password"></fa-textfield>
    <fa-button text="Acceder"><span slot="textButton"> Acceder</span></fa-button>

    <label class ="pieDePagina" >
        <span slot="label">*En caso de no saber contraseña enviar un email a javier@facturero.app.</span>
    </label>
   
</form>