<div data-viewid="haciendaviewstep0view" class="haciendaviewstep0view rightcommingsection subsections sectionview" >
    <header>
      <h5 class="mdc-typography--headline5 align-center">Registro y Credenciales como Contribuyente </h5>
    </header>
    <main>
      <div class="mdc-layout-grid">
        <div class="mdc-layout-grid__inner">
          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-1-tablet hide-for-small"></div> 
          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4 mdc-layout-grid__cell--span-6-tablet mdc-layout-grid__cell--align-middle">
            <p class="mdc-typography--body1"><strong>¡Hola <span class="name"></span>!</strong> para iniciar con Factura Electrónica necesitamos información del contribuyente:</p>
          </div>
          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-1-tablet hide-for-small"></div>

          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-1-tablet hide-for-small"></div> 
          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4 mdc-layout-grid__cell--span-6-tablet mdc-layout-grid__cell--align-middle">
            <div class="mdc-text-field contactname mdc-text-field--fullwidth">
              <input type="text" id="my-text-name" class="mdc-text-field__input fullname ">
              <label class="mdc-floating-label" for="my-text-name">Nombre completo</label>
              <div class="mdc-line-ripple"></div>
            </div>
            <p class="mdc-text-field-helper-text mdc-text-field-helper-text--persistent mdc-text-field-helper-text--validation-msg" >Nombre de la persona o nombre de la sociedad</p>
          </div>
          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-1-tablet hide-for-small"></div> 

          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-1-tablet hide-for-small"></div> 
          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4 mdc-layout-grid__cell--span-6-tablet mdc-layout-grid__cell--align-middle">
            <div class="mdc-select  mdc-select-canton  mdc-select--outlined full-width idtypeselect">
              <select class="mdc-select__native-control idtype">
                <option value="" disabled selected></option>
                <option value="1" >Persona Física</option>
                <option value="2" >Persona Jurídica</option>
                <option value="3" >DIMEX</option>
                <option value="4" >NITE</option>
              </select>
              <label class="mdc-floating-label">Tipo de identificación</label>
              <div class="mdc-notched-outline">
                <svg>
                  <path class="mdc-notched-outline__path"></path>
                </svg>
              </div>
              <div class="mdc-notched-outline__idle"></div>
            </div>
          </div>
          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-1-tablet hide-for-small"></div> 


          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-1-tablet hide-for-small"></div> 
          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4 mdc-layout-grid__cell--span-6-tablet mdc-layout-grid__cell--align-middle">
            <div class="mdc-text-field idnumber mdc-text-field--fullwidth white">
              <input type="text" id="my-text-idno" class="mdc-text-field__input idnumberfield ">
              <label class="mdc-floating-label" for="my-text-idno">Número de Identificación</label>
              <div class="mdc-line-ripple"></div>
            </div>
          </div>
          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-1-tablet hide-for-small"></div> 

          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-1-tablet hide-for-small"></div> 
          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4 mdc-layout-grid__cell--span-6-tablet mdc-layout-grid__cell--align-middle">
            <div class="mdc-text-field email mdc-text-field--fullwidth white">
              <input type="email" id="my-text-idno" class="mdc-text-field__input emaildata ">
              <label class="mdc-floating-label" for="my-text-idno">Correo Electrónico</label>
              <div class="mdc-line-ripple"></div>
            </div>
          </div>
          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-1-tablet hide-for-small"></div> 


          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-1-tablet hide-for-small"></div> 
          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4 mdc-layout-grid__cell--span-6-tablet mdc-layout-grid__cell--align-middle align-center">
            <button class="mdc-button mdc-button--raised primary savetaxpayergeneralinfoaction" >Continuar</button>
          </div>
          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-1-tablet hide-for-small"></div> 
          <!-- <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12 align-center">
            <p>ó</p>
          </div>
          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12 align-center">
            <button class="mdc-button primary">Necesitas Ayuda</button>
          </div> -->
        </div>
      </div>
    </main>

    </div>