<div class="grid">

    <fa-logo></fa-logo>
    <fa-label>
        <span slot="fa-label-text">Para empezar, necesitamos que te registres usando:</span>
    </fa-label>

    <fa-link type="secondaryButton" href="/emergencylogin">
        <span slot="fa-link-label">CREAR CUENTA NUEVA</span>
       </fa-link>
    <fa-link type="secondaryButton" href="/homeview">
        <span slot="fa-link-label">ACCEDER CON GOOGLE</span>
       </fa-link>

   <fa-link type="secondaryButton" href="/homeview">
    <span slot="fa-link-label">ACCEDER CON EMAIL</span>
   </fa-link>

    <fa-label>
        <span slot="fa-label-text">*Tus datos se manejan de una manera privada y responsable. Facturero.App esta fielmente
            comprometido con la proteccion de sus datos y el uso responsable de su information</span>
    </fa-label>
</div>